#trap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.trap-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trap-text span:first-child {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}
